.auth {
    &__container {
        padding-top: 30px;
        // min-height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
    }
}